<%- include('dashboard.ejs') %>
<h2 class="text-center">Donations Request</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Blood Group</th>
            <th>Units</th>
            <th>Age:</th>
            <th>Disease:</th>
            <th>Phone:</th>
            <th>Address:</th>
            <th>Status:</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% if(donations.length > 0) { %>
            <% donations.forEach(donation => { %>
                <tr>
                    <td><%= donation.user.name%></td>
                    <td><%= donation.user.email%></td>
                    <td><%= donation.donateGroup.name%></td>
                    <td><%= donation.donateGroup.units%></td>
                    <td><%= donation.age%></td>
                    <td><%= donation.disease%></td>
                    <td><%= donation.phone%></td>
                    <td><%= donation.address%></td>
                    <td><%= donation.status%></td>
                    <td class="btn-group">
                        <form action="/admin/donation/<%= donation.id%>?_method=PUT" method="post">
                            <input type="hidden" name="status" id="status" value="approved">
                            <button class="btn btn-success"><i class="fas fa-check-circle"></i></button>
                        </form>
                        <form action="" method="post">
                            <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        <% } else { %>
            <p>You don't have any donations histroy</p>
        <% } %>
    </tbody>
</table>